openapi: 3.0.2
info:
  title: Silna Public OldV1PriorAuthorizationResource V1DocumentValidationBatchResource API
  version: '1.0'
servers:
- url: https://app.silnahealth.com/api
security:
- bearerAuth: []
tags:
- name: V1DocumentValidationBatchResource
paths:
  /public/v1/document-intelligence/document-validation-batches/{document_validation_batch_id}:
    get:
      summary: Get Document Validation Batch
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1DocumentValidationBatch'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
      parameters:
      - in: path
        name: document_validation_batch_id
        required: true
        schema:
          type: string
      operationId: V1DocumentValidationBatchResource.get
      tags:
      - V1DocumentValidationBatchResource
      x-folder: public_api
components:
  schemas:
    TooManyRequestsError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    AuthenticationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
        type:
          $ref: '#/components/schemas/PublicApiErrorType'
      x-folder: null
    PublicApiErrorType:
      type: string
      enum:
      - AUTH_INVALID_REQUEST_HEADER
      - AUTH_INVALID_CREDENTIALS
      x-folder: null
    V1DocumentValidationBatch:
      properties:
        id:
          description: Document validation batch ID
          format: uuid
          title: Id
          type: string
        result:
          $ref: '#/components/schemas/RuleExecutionResult'
          description: Aggregate result across all document validations in the batch
      required:
      - id
      - result
      title: V1DocumentValidationBatch
      type: object
      x-folder: public_api
    RuleExecutionResult:
      type: string
      enum:
      - PASSED
      - FAILED
      x-folder: document_intelligence
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
