openapi: 3.2.0
info:
  title: Silna Public V1 Payor Inference Resource API
  version: '1.0'
servers:
- url: https://app.silnahealth.com/api
security:
- bearerAuth: []
tags:
- name: V1PayorInferenceResource
paths:
  /public/v1/payor_inference/{payor_inference_id}:
    get:
      summary: Get Payor Inference
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1PayorInferenceResponseSchema'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
      parameters:
      - in: path
        name: payor_inference_id
        required: true
        schema:
          type: string
      operationId: V1PayorInferenceResource.get
      tags:
      - V1PayorInferenceResource
      x-folder: public_api
  /public/v1/payor_inference/:
    post:
      summary: Create Payor Inference
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1PayorInferencePostResponseSchema'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
      parameters: []
      operationId: V1PayorInferenceResource.post
      tags:
      - V1PayorInferenceResource
      x-folder: public_api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1PayorInferenceRequestSchema'
        description: ''
components:
  schemas:
    TooManyRequestsError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    V1PayorInferenceIndividualSchema:
      properties:
        first_name:
          default: null
          description: Patient's first name
          title: First Name
          type:
          - string
          - 'null'
        last_name:
          default: null
          description: Patient's alst name
          title: Last Name
          type:
          - string
          - 'null'
        date_of_birth:
          default: null
          description: Patient's date of birth
          title: Date Of Birth
          format: date
          type:
          - string
          - 'null'
        patient_source_id:
          default: null
          description: Patient's EHR ID (or other unique identifier)
          title: Patient Source Id
          type:
          - string
          - 'null'
        plans:
          items:
            $ref: '#/components/schemas/V1PayorInferencePlanSchema'
          title: Plans
          type: array
      title: V1PayorInferenceIndividualSchema
      type: object
      x-folder: public_api
    ObjectNotFoundError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    V1PayorInferenceResultSchema:
      properties:
        individuals:
          items:
            $ref: '#/components/schemas/V1PayorInferenceIndividualSchema'
          title: Individuals
          type: array
      title: V1PayorInferenceResultSchema
      type: object
      x-folder: public_api
    PayorInferenceConfigName:
      type: string
      enum:
      - NEAR_REALTIME
      - BASE
      x-folder: payor_inference
    V1PayorInferencePlanSchema:
      properties:
        member_number:
          default: null
          title: Member Number
          type:
          - string
          - 'null'
        group_number:
          default: null
          title: Group Number
          type:
          - string
          - 'null'
        payor_entity_id:
          default: null
          title: Payor Entity Id
          format: uuid
          type:
          - string
          - 'null'
        proof_of_insurance_file_id:
          default: null
          title: Proof Of Insurance File Id
          format: uuid
          type:
          - string
          - 'null'
        plan_order_number:
          description: The order number of the plan (1 for primary, 2 for secondary, etc)
          title: Plan Order Number
          type: integer
        name:
          default: null
          description: The name of the plan
          title: Name
          type:
          - string
          - 'null'
        insurance_type:
          default: null
          description: The type of insurance
          $ref: '#/components/schemas/InsuranceType'
      required:
      - plan_order_number
      title: V1PayorInferencePlanSchema
      type: object
      x-folder: public_api
    PublicApiErrorType:
      type: string
      enum:
      - AUTH_INVALID_REQUEST_HEADER
      - AUTH_INVALID_CREDENTIALS
      x-folder: null
    ValidationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    V1PayorInferenceRequestSchema:
      properties:
        strategy:
          $ref: '#/components/schemas/PayorInferenceConfigName'
        patient_document_file_ids:
          default: null
          description: Optional list of document file IDs to process
          title: Patient Document File Ids
          items:
            format: uuid
            type: string
          maxItems: 10
          minItems: 1
          type:
          - array
          - 'null'
        text:
          default: null
          description: Payor Text
          title: Text
          maxLength: 5000
          minLength: 1
          type:
          - string
          - 'null'
        patient_id:
          default: null
          description: Optional patient identifier
          title: Patient Id
          format: uuid
          type:
          - string
          - 'null'
        provider_id:
          description: Required provider identifier (for HIPAA compliance)
          format: uuid
          title: Provider Id
          type: string
      required:
      - strategy
      - provider_id
      title: V1PayorInferenceRequestSchema
      type: object
      x-folder: public_api
    V1PayorInferenceResponseSchema:
      properties:
        id:
          format: uuid
          title: Id
          type: string
        status:
          $ref: '#/components/schemas/PayorInferenceStatus'
        inference_result:
          default: null
          $ref: '#/components/schemas/V1PayorInferenceResultSchema'
      required:
      - id
      - status
      title: V1PayorInferenceResponseSchema
      type: object
      x-folder: public_api
    AuthenticationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
        type:
          $ref: '#/components/schemas/PublicApiErrorType'
      x-folder: null
    InsuranceType:
      type: string
      enum:
      - COMMERCIAL
      - MEDICARE
      - MEDICAID
      - REGIONAL_CENTER
      - WORKERS_COMPENSATION
      - AUTO_INSURANCE
      x-folder: patient
    PayorInferenceStatus:
      type: string
      enum:
      - COMPLETED
      - FAILED
      - PROCESSING
      x-folder: payor_inference
    V1PayorInferencePostResponseSchema:
      properties:
        id:
          format: uuid
          title: Id
          type: string
      required:
      - id
      title: V1PayorInferencePostResponseSchema
      type: object
      x-folder: public_api
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
