openapi: 3.0.2
info:
  title: Silna Public OldV1PriorAuthorizationResource V1ProviderPlaceOfServicesResource API
  version: '1.0'
servers:
- url: https://app.silnahealth.com/api
security:
- bearerAuth: []
tags:
- name: V1ProviderPlaceOfServicesResource
paths:
  /public/v1/provider-place-of-services/{provider_place_of_service_id}:
    get:
      summary: Get Provider Place of Service
      responses:
        '200':
          description: "\n    Provider Place of Service\n    "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ProviderPlaceOfService'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
      parameters:
      - in: path
        name: provider_place_of_service_id
        required: true
        schema:
          type: string
      operationId: V1ProviderPlaceOfServicesResource.get
      tags:
      - V1ProviderPlaceOfServicesResource
      x-folder: public_api
components:
  schemas:
    TooManyRequestsError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    AuthenticationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
        type:
          $ref: '#/components/schemas/PublicApiErrorType'
      x-folder: null
    ObjectNotFoundError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    V1ProviderPlaceOfService:
      description: Provider Place of Service
      properties:
        id:
          description: Provider Place of Service Id
          format: uuid
          title: Id
          type: string
        place_of_service_code:
          $ref: '#/components/schemas/V1PlaceOfServiceCode'
          description: Place of service code details
      required:
      - id
      - place_of_service_code
      title: V1ProviderPlaceOfService
      type: object
      x-folder: public_api
    PublicApiErrorType:
      type: string
      enum:
      - AUTH_INVALID_REQUEST_HEADER
      - AUTH_INVALID_CREDENTIALS
      x-folder: null
    V1PlaceOfServiceCode:
      description: Place of Service Code
      properties:
        id:
          description: Code identifier
          format: uuid
          title: Id
          type: string
        code:
          description: Service code
          title: Code
          type: string
          example: '11'
        name:
          description: Service name
          title: Name
          type: string
          example: Office
        description:
          default: null
          description: Detailed description of the service
          title: Description
          nullable: true
          type: string
      required:
      - id
      - code
      - name
      title: V1PlaceOfServiceCode
      type: object
      x-folder: public_api
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
