openapi: 3.0.2
info:
  title: Silna Public OldV1PriorAuthorizationResource V1PatientPlanPriorAuthorizationsResource API
  version: '1.0'
servers:
- url: https://app.silnahealth.com/api
security:
- bearerAuth: []
tags:
- name: V1PatientPlanPriorAuthorizationsResource
paths:
  /public/v1/patient-plans/{patient_plan_id}/prior-authorizations:
    get:
      summary: Get Patient Plan Prior Authorizations
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysetPaginatedResponse__V1PriorAuthorizationPreview'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
      parameters:
      - in: path
        name: patient_plan_id
        required: true
        schema:
          type: string
      - in: query
        name: starting_after
        required: false
        schema:
          type: string
          format: uuid
      - in: query
        name: ending_before
        required: false
        schema:
          type: string
          format: uuid
      - in: query
        name: limit
        required: false
        schema:
          type: integer
      - in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/PublicPriorAuthorizationStatus'
      operationId: V1PatientPlanPriorAuthorizationsResource.get
      tags:
      - V1PatientPlanPriorAuthorizationsResource
      x-folder: public_api
components:
  schemas:
    V1PriorAuthorizationPreview:
      properties:
        id:
          description: ID of the prior authorization
          format: uuid
          title: Id
          type: string
        created_at:
          description: Date the prior authorization was created
          format: date-time
          title: Created At
          type: string
        specialty:
          $ref: '#/components/schemas/PublicSpecialty'
          description: Specialty for the prior authorization
        status:
          $ref: '#/components/schemas/PublicPriorAuthorizationStatus'
          description: Status of the prior authorization
      required:
      - id
      - created_at
      - specialty
      - status
      title: V1PriorAuthorizationPreview
      type: object
      x-folder: public_api
    KeysetPaginatedResponse__V1PriorAuthorizationPreview:
      properties:
        has_more:
          title: Has More
          type: boolean
        records:
          items:
            $ref: '#/components/schemas/V1PriorAuthorizationPreview'
          title: Records
          type: array
        first_id:
          default: null
          title: First Id
          nullable: true
          format: uuid
          type: string
        last_id:
          default: null
          title: Last Id
          nullable: true
          format: uuid
          type: string
      required:
      - has_more
      - records
      title: KeysetPaginatedResponse[V1PriorAuthorizationPreview]
      type: object
      x-folder: null
    TooManyRequestsError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    AuthenticationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
        type:
          $ref: '#/components/schemas/PublicApiErrorType'
      x-folder: null
    ObjectNotFoundError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    PublicSpecialty:
      type: string
      enum:
      - PHYSICAL_THERAPY
      - ABA_THERAPY
      - SPEECH_THERAPY
      - OCCUPATIONAL_THERAPY
      - PSYCHOLOGICAL_TESTING
      - HOME_HEALTH_CARE
      - HOSPICE
      - CARDIAC_REHABILITATION
      - INTENSIVE_CARDIAC_REHABILITATION
      - MENTAL_HEALTH
      - PRINCIPAL_ILLNESS_NAVIGATION
      - PRINCIPAL_CARE_MANAGEMENT
      - ADVANCED_PRIMARY_CARE_MODELS
      - PREVENTATIVE_HEALTH
      - PARTIAL_HOSPITALIZATION_PROGRAM
      - INTENSIVE_OUTPATIENT_PROGRAM
      - INTERVENTIONAL_RADIOLOGY
      - VASCULAR_SURGERY
      - INTERVENTIONAL_CARDIOLOGY
      - ORTHOPEDICS
      - CHIROPRACTIC
      - GYNECOLOGY
      - LONG_TERM_CARE
      - NUTRITIONAL_COUNSELING
      - PHYSICAL_MEDICINE
      - PULMONARY_REHABILITATION
      - INJECTABLE_SPECIALTY_MEDICATIONS
      - ALLERGY_TESTING
      - SKILLED_NURSING
      - RADIOLOGY
      - OTOLARYNGOLOGY
      - DURABLE_MEDICAL_EQUIPMENT
      - DERMATOLOGY
      - PROFESSIONAL_OFFICE_VISIT
      - PSYCHIATRY
      x-folder: specialty
    PublicApiErrorType:
      type: string
      enum:
      - AUTH_INVALID_REQUEST_HEADER
      - AUTH_INVALID_CREDENTIALS
      x-folder: null
    PublicPriorAuthorizationStatus:
      type: string
      enum:
      - DATA_REQUESTED
      - DATA_RECEIVED
      - ALL_REQUIRED_DATA_RECEIVED
      - REQUESTED
      - TOO_EARLY_TO_SUBMIT
      - UNNECESSARY
      - AWAITING_PROVIDER
      - PENDING_PROVIDER_SUBMISSION_REVIEW
      - AWAITING_SILNA
      - APPROVED_TO_SUBMIT
      - SUBMITTED_TO_PAYOR
      - PAYOR_DENIED
      - PAYOR_DENIED_APPEALING
      - AWAITING_RESUBMISSION
      - RESUBMITTED_TO_PAYOR
      - PAYOR_APPROVED
      - DENIED_UNAPPEALED
      - PRELIMINARY_APPROVAL
      - PARTIALLY_APPROVED
      - WITHDRAWN
      x-folder: prior_authorization
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
