openapi: 3.0.2
info:
  title: Silna Public OldV1PriorAuthorizationResource V1PatientPlaceOfServicesResource API
  version: '1.0'
servers:
- url: https://app.silnahealth.com/api
security:
- bearerAuth: []
tags:
- name: V1PatientPlaceOfServicesResource
paths:
  /public/v1/patient-place-of-services/:
    post:
      summary: Create Patient Place of Service
      responses:
        '201':
          description: "\n    Patient Place of Service Create Response\n    "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1PatientPlaceOfServiceCreateResponse'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
      parameters: []
      operationId: V1PatientPlaceOfServicesResource.post
      tags:
      - V1PatientPlaceOfServicesResource
      x-folder: public_api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1PatientPlaceOfServiceCreateBody'
        description: "\n    Patient Place of Service Create Response\n    "
  /public/v1/patient-place-of-services/{patient_place_of_service_id}:
    get:
      summary: Get Patient Place of Service
      responses:
        '200':
          description: "\n    Patient Place of Service\n    "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1PatientPlaceOfService'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectNotFoundError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
                description: The maximum number of requests allowed in the time window
            X-RateLimit-Remaining:
              schema:
                type: integer
                description: The number of requests remaining in the current time window
            X-RateLimit-Reset:
              schema:
                type: integer
                description: The time when the rate limit will reset, in Unix timestamp
            Retry-After:
              schema:
                type: number
                description: The number of seconds to wait before making another request
      parameters:
      - in: path
        name: patient_place_of_service_id
        required: true
        schema:
          type: string
      operationId: V1PatientPlaceOfServicesResource.get
      tags:
      - V1PatientPlaceOfServicesResource
      x-folder: public_api
components:
  schemas:
    V1PatientPlaceOfServiceCreateResponse:
      description: Patient Place of Service Create Response
      properties:
        id:
          description: Patient Place of Service Id
          format: uuid
          title: Id
          type: string
      required:
      - id
      title: V1PatientPlaceOfServiceCreateResponse
      type: object
      x-folder: public_api
    TooManyRequestsError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    AuthenticationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
        type:
          $ref: '#/components/schemas/PublicApiErrorType'
      x-folder: null
    ValidationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    ObjectNotFoundError:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human readable error message
      x-folder: null
    PublicApiErrorType:
      type: string
      enum:
      - AUTH_INVALID_REQUEST_HEADER
      - AUTH_INVALID_CREDENTIALS
      x-folder: null
    V1PlaceOfServiceCode:
      description: Place of Service Code
      properties:
        id:
          description: Code identifier
          format: uuid
          title: Id
          type: string
        code:
          description: Service code
          title: Code
          type: string
          example: '11'
        name:
          description: Service name
          title: Name
          type: string
          example: Office
        description:
          default: null
          description: Detailed description of the service
          title: Description
          nullable: true
          type: string
      required:
      - id
      - code
      - name
      title: V1PlaceOfServiceCode
      type: object
      x-folder: public_api
    V1PatientPlaceOfService:
      description: Patient Place of Service
      properties:
        id:
          description: Patient Place of Service Id
          format: uuid
          title: Id
          type: string
        place_of_service_code:
          $ref: '#/components/schemas/V1PlaceOfServiceCode'
          description: Place of service code details
      required:
      - id
      - place_of_service_code
      title: V1PatientPlaceOfService
      type: object
      x-folder: public_api
    V1PatientPlaceOfServiceCreateBody:
      description: Patient Place of Service Create Response
      properties:
        patient_id:
          description: Patient Id
          format: uuid
          title: Patient Id
          type: string
        provider_place_of_service_id:
          description: Provider Place Of Service Id
          format: uuid
          title: Provider Place Of Service Id
          type: string
      required:
      - patient_id
      - provider_place_of_service_id
      title: V1PatientPlaceOfServiceCreateBody
      type: object
      x-folder: public_api
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
